<% provide(:title, 'Create Meal Plan') %>
<form class="form-horizontal" id="createMealPlanForm">
  <fieldset>

    <!-- Form Name -->
    <legend> <h1 id="formTitle"> Weekly Menu </h1></legend>
    <div class="text-center">
    <div class="btn-group btn-group-lg btn-group-vertical" id="weekCal">
      <button type="button" class="btn btn-default"><%= link_to "Monday, #{Date.today.beginning_of_week.to_formatted_s(:long)}", create_monday_path %></button>
      <button type="button" class="btn btn-default"><%= link_to "Tuesday, #{Date.today.beginning_of_week.tomorrow.to_formatted_s(:long)}", create_tuesday_path %></button>
      <button type="button" class="btn btn-default"><%= link_to "Wednesday, #{Date.today.beginning_of_week.tomorrow.tomorrow.to_formatted_s(:long)}", create_wednesday_path%></button>
      <button type="button" class="btn btn-default"><%= link_to "Thursday, #{Date.today.beginning_of_week.tomorrow.tomorrow.tomorrow.to_formatted_s(:long)}", create_thursday_path%></button>
      <button type="button" class="btn btn-default"><%= link_to "Friday, #{Date.today.beginning_of_week.tomorrow.tomorrow.tomorrow.tomorrow.to_formatted_s(:long)}", create_friday_path%></button>
    </div>
    </div>



  </fieldset>
</form>
